$text-color: #424242;
$text-color-2: #38424c;
$text-color-3: #7a7a7a;
$accent-color: #0661f8;
$light-gray: #ebebeb;
$background-color: #f8f8f8;
$background-color-2: #f7f8fa;
$icon-color: #9ca6b2;
$icon-color-2: #38424c;
$valid-color: #45b40d;
$invalid-color: #ff4342;